<link rel="preload" fetchpriority="low" as="font" type="font/woff2" crossorigin="anonymous" href="/webfonts/fa-regular-400.woff2">
<link rel="preload" fetchpriority="low" as="font" type="font/woff2" crossorigin="anonymous" href="/webfonts/fa-brands-400.woff2">
<link rel="preload" fetchpriority="low" as="font" type="font/woff2" crossorigin="anonymous" href="/webfonts/fa-solid-900.woff2">
