// Remove stupid background of operator in code block
// ref: https://github.com/PrismJS/prism/issues/1691
.token.operator {
    background: none;
}

// Code font size
code[class*="language-"],
pre[class*="language-"] {
    font-size: .925em;
}
